.nav-bg-color {
    background-color: #062925;
    color: #3A9188;

}

.link-name {
    color: #3A9188;
    margin-left: 5%;
}

.logo-name {
    color: #3A9188;
    margin-left: 5%;
}

.link-name:hover {
    background: #3A9188;
    border: 1px solid #3A9188;
    border-radius: 5%;
}

.navbar-toggler {
    background: #3A9188;
}

#basic-navbar-nav {}


#home,
#experience,
#contact,
#project,
#about {
    padding-top: 5%;
    height: 100vh;
    border: 1px solid black;
}

#home #get_in_touch {
    height: 100vh;
    /* background-color: white; */
}

#form {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    height: 80vh;
    background: #044A42;
    box-shadow: 23px 23px 4px #3A9188;
    border-radius: 25px;
}

.form-item {
    margin: 20px;
    color: #3A9188;
    font-weight: 600;




}

.field {
    box-sizing: border-box;
    height: 30px;
    background: #3A9188;
    border: 1px solid #062925;
    border-radius: 10px;
}

.field:focus {

    background: rgb(255, 255, 255, .8);
    transition: 1000ms;

}

::placeholder {
    color: #062925;
    font-size: small;
    font-family: sans-serif;
    text-align: center;
}

.img {
    margin-left: auto;
    width: 40vw;
    height: 80vh;
}

.butn {
    color: #062925;
    background: #3A9188;
    border: none;
    border-radius: 100px;
    width: 100px;
    height: 40px;
}

.butn:hover {
    color: #3A9188;
    background: #062925;
    transition: 500ms;
    scale: 1.15;
}





/* header style */

.header-text {
    margin-top: 10%;
    font-size: 8vw;
    color: #044A42;
    font-weight: 700;
    opacity: .8;
}

.header-sub-text {
    font-size: 30px;
    color: #044A42;
    font-weight: 700;
    opacity: .5;
}

.social-logo:hover {
    transform: translateY(-20px);
    transition-duration: 1000ms;
}

/* #header {
    background-image: url('../asset/Hacker-pana\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 100vh;
} */


.header-img {
    width: 50vw;
    margin-left: auto;
}

.header-img-xs {
    width: 100vw;
    margin-top: 8%;
}

.header-text-xs {
    font-size: 15vw;
    color: #044A42;
    font-weight: 900;
    opacity: .8;
}

.header-sub-text-xs {
    font-size: 30px;
    color: #044A42;
    font-weight: 700;
    opacity: .5;
}

.social-logo-xs {
    width: 90px;
}

.social-logo-xs :hover {
    transform: translateY(-20px);
    transition-duration: 1000ms;
}

/* #drawer {
    background-color: #062925;
    color: #3A9188;
} */